/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

body 
{
    background-color:#191919;
    padding-left:10%;
    padding-right:10%;
}

h1
{
    font-size:50px;
}

h1, h2, ul
{
    font-family:Arial;
    color:#F9F9F9;
}

h3
{
    display:inline-block;
    line-height:10px;
    font-family:Arial;
    font-size:40px;
    color:#AB0000;
    padding:100px;
    margin:100px;
}

a 
{
    font-family:Arial;
    color:White;
}